---
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>A Good Case</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/productlist">Specialøl</a>
			<a href="/">Smagkasser</a>
			<a href="/">Abonnement</a>
            <a href="/">Giv en Gave</a>
            <a href="/">Ølsmagning</a>
            <a href="/">Erhverv</a>
            <a href="/">Ale Øl</a>

		</nav>
		<h1>A Good Case</h1>
		<slot />
		<footer>
			My Contacts
		</footer>
	</body>
</html>


